autom4te.cache
.deps
.dirstamp
*.o
*.m4
*.log
*.status
configure
depcomp
install-sh*
Makefile
Makefile.in
missing
step-1/step-1
step-2/step-2
step-3/step-3
step-4/step-4
step-5/step-5
config
.libs
m4
*.lo
*.la
libtool
config.h.in
config.h.in~
stamp-h1